Nama    : Muhammad Syafiq Azizi

NPM     : 2505060045

Rombel  : 03

Buah buahan

In [5]:
buah = ['apel', 'mangga', 'jeruk', 'anggur', 'pisang']

#a.Tambahkan 'semangka' di akhir list
buah.append('semangka')
print(buah)

#b.Sisipkan 'durian' di antara 'jeruk' dan 'anggur' ada pada index ke 3
buah.insert(3, 'durian')
print(buah)

#c.Hapus 'mangga' dari list
buah.remove('mangga')
print(buah)

#d.Ubah 'pisang' menjadi 'nanas'
# posisi pisang di sebelum semangka dan sesudah anggur atau di indeks -2 atau 4
buah[-2] = 'nanas'
print(buah)

#e.Tampilkan 3 buah pertama
print(buah[:3]) # ['apel', 'jeruk', 'durian']

['apel', 'mangga', 'jeruk', 'anggur', 'pisang', 'semangka']
['apel', 'mangga', 'jeruk', 'durian', 'anggur', 'pisang', 'semangka']
['apel', 'jeruk', 'durian', 'anggur', 'pisang', 'semangka']
['apel', 'jeruk', 'durian', 'anggur', 'nanas', 'semangka']
['apel', 'jeruk', 'durian']

Mengurutkan angka

In [7]:
angka = [45, 12, 78, 23, 56, 89, 34]

# a. Urutkan list secara ascending (dari kecil ke besar)
angka.sort()
print(angka)

# b. Urutkan list secara descending (dari besar ke kecil)
angka.reverse()
print(angka)

[12, 23, 34, 45, 56, 78, 89]
[89, 78, 56, 45, 34, 23, 12]